/* ESTILOS VISTA NUMERO 2*/
.main_form--view2 {
  width: 80%;
  text-align: center;
  margin: 0 auto;
  height: auto;
  min-height: 400px;
}
.main_form--view2-title {
  color: $header;
  font-size: 1rem;
}
.main_form--view2-text {
  color: gray;
  font-size: 0.7rem;
  margin-top: 10px;
  margin-bottom: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.5px;
}
.main_form--view2-input {
  padding: 0.85rem;
  border-radius: 10px;
  border: 1px solid #ddd;
  font-size: 0.7rem;
  text-align: center;
  text-transform: uppercase;
  color: #eb1f2a;
  font-weight: 600;
  width: 100%;
  margin-bottom: 1rem;
  letter-spacing: 1px;
}
.main_form--view2-input::placeholder {
  text-align: center;
  color: #ccc;
  text-transform: initial;
  font-weight: normal;
  letter-spacing: normal;
}
.main_form--view2-input:focus {
  outline: 2px solid $header;
}
.main_form--view2-button {
  background-color: $header;
  border: none;
  display: block;
  width: 100%;
  padding: 0.85rem;
  font-size: 0.7rem;
  margin-bottom: 1rem;
  border-radius: 10px;
  color: white;
  font-weight: 600;
  letter-spacing: 1px;
}
.main_form--view2-button i {
  margin-right: 1rem;
}
.main_form--view2-button:focus {
  outline: 2px solid $header;
}
/* END ESTILOS VISTA NUMERO 2*/
