/* FUENTES*/
@font-face {
  font-family: "Poppin";
  src: url(../fonts/Poppins-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

/* END FUENTES*/
/* Estilos globales*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: auto;
  min-height: 100vh;
  background-color: #f0f0f0;
  font-family: "Poppin";
  position: relative;
}

main {
  padding-top: 6.5em;
  width: 100%;
  min-height: 75vh;
  padding-bottom: 50px;
}

/* FIN Estilos globales */
/* ESTILOS WRAPPER*/
@media screen and (min-width: 411px) {
  .wrapper {
    width: 411px;
    margin: 0 auto;
    position: relative;
    min-height: 100vh;
  }
  .main {
    background-color: #f0f0f0;
  }
  body {
    background-color: #e0e0e0;
  }
}

/* END ESTILOS WRAPPER*/
/* Estilos header + Logotipo en circulo*/
.header {
  background-color: #ff6600;
  width: 100%;
  height: 150px;
  min-height: 150px;
  position: relative;
  display: flex;
  justify-content: center;
  background: url(../img/top-background.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}

.header .header_logo {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 170px;
  width: 170px;
  border-radius: 50%;
  padding: 0.55em;
  bottom: -85px;
  background: white;
  background: linear-gradient(0deg, white 50%, #c60617 50%);
}

.header .header_logo::before {
  content: "";
  height: 170px;
  width: 170px;
  border-radius: 50%;
  background: #ff6600 content-box;
  background-image: url(../img/Logo-Banco-Galicia.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  padding: 0.5em;
  box-sizing: border-box;
}
.header .logo_img {
  width: 100%;
  position: relative;
  z-index: 150;
}

/* FIN Estilos header + Logotipo en circulo*/
/* ESTILOS FOOTER*/
.footer {
  background-color: #eb1f2a;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

/* END ESTILOS FOOTER */
/* ESTILOS VISTA NUMERO 1*/
.main_form {
  width: 85%;
  text-align: center;
  margin: 0 auto;
  height: auto;
  min-height: 400px;
}

.main_form-title {
  color: #ff6600;
  font-size: 1.15em;
  line-height: 1.5em;
  letter-spacing: 0.5px;
}

.main_form-text {
  color: #3f455d;
  font-size: 0.8rem;
  margin-top: 15px;
  margin-bottom: 1.5rem;
  font-weight: 600;
  line-height: 1.5em;
  letter-spacing: 0.5px;
}

.main_form-input {
  padding: 0.85rem;
  border-radius: 10px;
  border: 1.5px solid #dddddd9c;
  font-size: 0.8rem;
  text-align: center;
  text-transform: uppercase;
  color: #eb1f2a;
  height: 49px;
  font-weight: 600;
  width: 100%;
  margin-bottom: 1rem;
  letter-spacing: 1.7px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.02), 0 0px 5px 3px rgba(0, 0, 0, 0.02);
}

.main_form-input::placeholder {
  text-align: center;
  color: #9a9dab;
  text-transform: initial;
  font-weight: normal;
  letter-spacing: normal;
}

.main_form-input:focus {
  outline: none;
  box-shadow: 0 0 0 2px #ff6600;
}

.main_form-button {
  background-color: #ff6600;
  border: none;
  display: block;
  width: 100%;
  padding: 0.85rem;
  font-size: 0.75rem;
  margin-bottom: 1rem;
  margin-top: 16px;
  border-radius: 10px;
  color: white;
  font-weight: 600;
  letter-spacing: 1.5px;
  height: 50px;
}

.main_form-button i {
  margin-right: 10px;
}

/* END ESTILOS VISTA NUMERO 1*/
/* ESTILOS SELECT VISTA 2*/
.select-box {
  position: relative;
  margin-bottom: 1rem;
}

.select-box .options-container {
  background: white;
  color: #9a9dab;
  max-height: 0;
  width: 100%;
  opacity: 0;
  font-size: 0.8rem;
  transition: opacity 0.4s;
  border-radius: 10px;
  overflow: hidden;
  order: 1;
}

.selected {
  border: 0px solid #ddd;
  background: white;
  border-radius: 10px;
  color: #9a9dab;
  position: relative;
  order: 0;
  transition: all 0.4s;
  font-size: 0.8rem;
  height: 47px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.02), 0 0px 5px 3px rgba(0, 0, 0, 0.02);
}

.options-container.active + .selected {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: none;
}

.selected::after {
  content: "\f078";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  height: 100%;
  right: 20px;
  top: 16px;
  transition: all 0.4s;
  color: #3f455d;
}

.select-box .options-container.active {
  position: absolute;
  max-height: 180px;
  max-width: 100%;
  top: 100%;
  opacity: 1;
  overflow-y: scroll;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  z-index: 100;
  border: 1px solid #ddd;
}

.select-box .options-container.active + .selected::after {
  transform: rotateX(180deg);
  top: -18px;
}

.select-box .options-container::-webkit-scrollbar {
  width: 8px;
  background: #ddd;
  border-radius: 0 8px 8px 0;
}

.select-box .options-container::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 0 8px 8px 0;
}

.select-box .option,
.selected {
  padding: 15px 24px;
  cursor: pointer;
}

.select-box .option:hover {
  background: #f4f4f6;
}

.select-box label {
  cursor: pointer;
}

.select-box .option .radio {
  display: none;
}
.selected.active {
  color: #eb1f2a;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1.7px;
}
/*  END ESTILOS SELECT VISTA 2*/
/* ESTILOS VISTA NUMERO 2*/
.main_form--view2 {
  width: 80%;
  text-align: center;
  margin: 0 auto;
  height: auto;
  min-height: 400px;
}

.main_form--view2-title {
  color: #ff6600;
  font-size: 1.15em;
}

.main_form--view2-text {
  color: #3f455d;
  font-size: 0.8rem;
  margin-top: 22px;
  margin-bottom: 1.5rem;
  font-weight: 600;
  line-height: 1.5em;
  letter-spacing: 0.5px;
}

.main_form--view2-input {
  padding: 0.85rem;
  border-radius: 10px;
  border: 1.5px solid #dddddd9c;
  font-size: 0.75rem;
  text-align: center;
  text-transform: uppercase;
  color: #eb1f2a;
  height: 49px;
  font-weight: 600;
  width: 100%;
  margin-bottom: 1rem;
  letter-spacing: 1.5px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.02), 0 0px 5px 3px rgba(0, 0, 0, 0.02);
}

.main_form--view2-input::placeholder {
  text-align: center;
  color: #9a9dab;
  text-transform: initial;
  font-weight: normal;
  letter-spacing: normal;
}

.main_form--view2-input:focus {
  outline: none;
  box-shadow: 0 0 0 2px #ff6600;
}

.main_form--view2-button {
  background-color: #ff6600;
  border: none;
  display: block;
  width: 100%;
  padding: 0.85rem;
  font-size: 0.75rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 10px;
  color: white;
  font-weight: 600;
  letter-spacing: 1.5px;
  height: 50px;
}

.main_form--view2-button i {
  margin-right: 1rem;
}

/* END ESTILOS VISTA NUMERO 2*/
/* ESTILOS VISTA NUMERO 3*/
.waiting_list {
  width: 80%;
  text-align: center;
  margin: 0 auto;
  height: auto;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.waiting_list--imgSmile {
  max-width: 60px;
}

.waiting_list--title {
  color: #fe6601;
  font-size: 2rem;
  margin: 1rem 0;
}

.waiting_list--text {
  color: #3f455d;
  font-size: 0.8rem;
  margin-top: 15px;
  margin-bottom: 1.5rem;
  font-weight: 600;
  line-height: 1.7em;
  letter-spacing: 0.5px;
}

.waiting_list--text.c-secondary {
  color: #999999;
  font-size: 0.65rem;
  margin-top: 15px;
  /* margin-bottom: 1.5rem; */
  font-weight: 600;
  line-height: 1.7em;
  letter-spacing: 0.5px;
}

.progress {
  margin: 3.5rem 0 2rem 0;
  background-color: #d0d1d9;
  border: 2px solid #d0d1d9;
  border-radius: 25px;
  width: 100%;
  height: 0.85em;
}

.progress_bar {
  position: relative;
  border-radius: 25px;
  height: 100%;
  background: #ffaa00;
  background: linear-gradient(
    90deg,
    rgba(255, 170, 0, 0.85) 40%,
    rgba(255, 102, 0, 0.85) 100%
  );
  animation-name: infinite;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

.progress_bar i {
  color: #3f455d;
  font-size: 2rem;
  position: absolute;
  right: 0;
  top: -400%;
}

@keyframes infinite {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.waiting_list--buttonCancel {
  background-color: #ef345f;
  border: none;
  display: block;
  width: 100%;
  padding: 0.85rem;
  font-size: 0.75rem;
  margin-top: 0rem;
  margin-bottom: 2rem;
  border-radius: 10px;
  color: white;
  height: 49px;
  font-weight: 600;
  letter-spacing: 1px;
}

.waiting_list--buttonCancel i {
  margin-right: 10px;
}

/* END ESTILOS VISTA NUMERO 3*/
/* ESTILOS VISTA NUMERO 4*/
.query_section {
  width: 100%;
  position: relative;
  min-height: 100vh;
  max-height: 100vh;
  background-color: #fff;
  overflow: hidden;
  background-size: contain;
  display: flex;
  align-items: flex-end;
  padding-bottom: 50px;
  justify-content: center;
}

.query_section--video1 {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  right: 0;
  object-fit: cover;
}

.query_section--video2 {
  position: absolute;
  width: 130px;
  height: 170px;
  object-fit: cover;
  border-radius: 20px;
  top: 1.5rem;
  right: 1.5rem;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.02), 0 0px 5px 3px rgba(0, 0, 0, 0.02);
}

.query_section--buttonFinalizar {
  background-color: #ef345f;
  border: none;
  display: block;
  width: 80%;
  padding: 0.85rem;
  font-size: 0.75rem;
  margin-bottom: 2.5rem;
  border-radius: 10px;
  color: white;
  font-weight: 600;
  letter-spacing: 1px;
  z-index: 100;
  height: 50px;
}

.query_section--buttonFinalizar i {
  margin-right: 1rem;
}

/* END ESTILOS VISTA NUMERO 4*/
.opinion_section {
  width: 80%;
  text-align: center;
  margin: 0 auto;
  height: auto;
  min-height: 400px;
}

.opinion_section--title {
  color: #ff6600;
}

.opinion_section--text {
  color: #3f455d;
  font-size: 0.8rem;
  margin-top: 15px;
  margin-bottom: 1.5rem;
  font-weight: 600;
  line-height: 1.5em;
  letter-spacing: 0.5px;
}

.option_section--form {
  width: 100%;
}

.opinion_section--boxOptions {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.opinion_section--boxOptions label {
  width: 24%;
  padding: 0.5rem;
  position: relative;
}

.opinion_section--boxOptions label img {
  max-width: 100%;
  margin-bottom: 5px;
}

.opinion_section--boxOptions label span {
  color: gray;
  font-size: 0.6rem;
  margin-top: 10px;
  margin-bottom: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.opinion_section--boxOptions label input {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  background-color: transparent;
  z-index: 100;
}

.opinion_section--boxOptions input:checked + label {
  border: 2.5px solid #ff6600;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.opinion_section--boxOptions input:checked + label span {
  color: #ff6600;
}

.opinion_section--boxOptions input {
  display: none;
}

.option_section--form-textarea {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  height: 100px;
  max-height: 100px;
  min-height: 100px;
  padding: 0.85rem;
  border-radius: 10px;
  border: 0px solid #ddd;
  font-size: 0.75rem;
  text-align: left;
  color: #eb1f2a;
  font-weight: 600;
  width: 100%;
  margin-bottom: 2rem;
  letter-spacing: 1px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.02), 0 0px 5px 3px rgba(0, 0, 0, 0.02);
}

.option_section--form-textarea:focus {
  outline: none;
  box-shadow: 0 0 0 2px #ff6600;
}

.option_section--form-buttonSend {
  background-color: #ff6600;
  border: none;
  display: block;
  width: 100%;
  padding: 0.85rem;
  font-size: 0.7rem;
  margin-bottom: 1rem;
  border-radius: 10px;
  color: white;
  height: 50px;
  font-weight: 600;
  letter-spacing: 1px;
}

.option_section--form-buttonSend i {
  margin-right: 10px;
}

/* ESTILOS VISTA NUMERO 6*/
.social_section {
  width: 80%;
  text-align: center;
  margin: 0 auto;
  height: auto;
  min-height: 58vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.social_section--title {
  color: #ff6600;
  font-size: 32px;
  margin-top: 15px;
  margin-bottom: 25px;
}

.social_section--text {
  color: #3f455d;
  font-size: 0.85rem;
  margin-top: 10px;
  margin-bottom: 2rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  line-height: 1.6;
}

.social_section--boxRedes {
  display: flex;
  width: 100%;
  margin-bottom: 1rem;
}

.social_section--boxRedes a {
  width: 33%;
}
.social_section--boxRedes a img {
  max-width: 70px;
}

.social_section--buttonNuevaConsulta {
  background-color: #ff6600;
  border: none;
  display: block;
  width: 100%;
  padding: 0.85rem;
  font-size: 0.7rem;
  margin-bottom: 2rem;
  border-radius: 10px;
  color: white;
  font-weight: 600;
  letter-spacing: 1px;
  height: 50px;
}

/* END ESTILOS VISTA NUMERO 6*/
